.featuresPage1 img, .featuresPage2 img{
    height: 50%;
    width: 100%;
    object-fit: cover;
}
.newsletter_container{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    top: 65%;
    left: 55%;
    width: 30%;
    height: 5%;
}
.newsletter_container input{
    width: 75%;
    height: 90%;
    background-color: #F0F4FA;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-top: none;
    border-left: none;
    text-align: start;
    font-size: 16px;
}
.newsletter_container input::placeholder {
    font-size: 16px;
}
.newsletter_container img {
    height: 100%;
    width: 10%;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.1s ease; /* Added transition for smooth animation */
}
.newsletter_container img:active {
    transform: scale(0.95); /* Button press effect */
    transition: transform 0.1s ease; /* Fast transition for press effect */
}

.featuresPage1, .featuresPage2{
    position: relative;
}
.FeaturesPage_Icon_Container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:25%;
    padding: 0 10%;
    z-index: 10;
}
.FeaturesPage1_Image_container img{
    height: 80%;
    width: 80%;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.FeaturesPage1_Image_container img:hover{
    transform: scale(1.2);
}
.letsstartedButton {
    padding: 10px 15px;
    font-size: larger;
    background-color: #2BB965;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    top: 80%;
    left: 45%;
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
-webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
-moz-box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
}

.letsstartedButton:hover {
    transform: scale(1.1);
}

.letsstartedButton:active {
    transform: scale(0.95);
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
}