.getstartedPage-alignment-css {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.getstartedPage-alignment-css img {
    height: 50%;
    width: 100%;
    object-fit: cover;
}

.Get-started-btn {
    position: absolute;
    top: 60%;
    left: 12%;
}

.Get-started-btn button {
    z-index: 1;
    padding: 12px 22px;
    background-color: #2BB965;
    color: white;
    font-size: 22px;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    border: none;
    transition: transform 0.1s ease, color 0.5s, border 0.5s;
    /* Added transition for transform */
}

.Get-started-btn button:hover {
    color: black;
    border: 2px solid black;
}

.Get-started-btn button:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

.Get-started-btn button:hover:after {
    transform: skewX(-45deg) scale(1, 1);
}

.Get-started-btn button:active {
    transform: scale(0.95);
    /* Press effect */
    transition: transform 0.1s ease;
    /* Fast transition for press effect */
}


@media screen and (max-width: 575.98px) {
    .getstartedPage-alignment-css img {
        content: url(../assets/images/Android Small - 1.png);
    }

    .Get-started-btn button {
        font-size: 18px;
        padding: 8px 16px;
    }

    .Get-started-btn {
        top: 47%;
        left: 30%;
    }
}