/* Existing CSS */
.horizontal-container {
    width: 100%;
    height: 8%;
    padding: 10px 10px;
    background-color: #1D6FFC;
    border: none;
}

.NavBarContainer {
    background-color: white;
    width: 100%;
    top: 0%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
    font-size: large;
}

.downside-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    top: 4%;
}

.NavBarContainer img {
    width: 12%;
}

.navigation-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.Sign-up-button button {
    padding: 10px 10px;
    font-size: large;
    background-color: #2BB965;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.sign-up-button button:hover {
    background-color: #28a745;
}

.sign-up-button button:active {
    transform: scale(0.95);
    transition: transform 0.1s ease;
}

.navigation-container p:hover {
    transform: scale(1.2);
}

.navigation-container p {
    transition: transform 0.3s ease;
}

.navigation-container p::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #1D6FFC;
    transition: width 0.3s ease;
}

.navigation-container p:hover::after {
    width: 100%;
}

.hamburger {
    display: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.hamburger .bar1,
.hamburger .bar2,
.hamburger .bar3 {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
    transition: 0.2s ease-in-out;
}

.hamburger.open .bar1 {
    transform: rotate(-45deg) translate(-4px, 6px);
}

.hamburger.open .bar2 {
    opacity: 0;
}

.hamburger.open .bar3 {
    transform: rotate(45deg) translate(-4px, -6px);
}

/* Media Queries */
@media (max-width: 575.98px) {
    .navigation-container {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: rgb(247, 252, 255);
        border-top: 1px solid #ddd;
    }

    .sign-up-button {
        width: 100%;
        text-align: center;
    }

    .sign-up-button button {
        width: 80%;
        margin: 10px auto;
        border-radius: 8px;
    }

    .navigation-container.open {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .downside-container {
        justify-content: space-around;
    }
}

@media screen and (min-width: 200px) and (max-width: 340px) {
    .NavBarContainer img {
        width: 37%;
    }
}

@media screen and (min-width: 341px) and (max-width: 575px) {
    .NavBarContainer img {
        width: 27%;
    }
}