@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #d4d4d4;
}

.Vertical-bar {
    border: 2px solid black;
    height: 100%;
    position: absolute;
    left: 15%;
    top: 0;
}

hr {
    border: 2px solid black;
    position: absolute;
    width: 85%;
    left: 15%;
    top: 8%;
}

.ProductivityPandaImage img {
    width: 180px;
    height: 60px;
    position: relative;
    top: 2%;
    left: 5%;
}

.ProductivityPandaImage {
    width: 180px;
    height: 60px;
}

.addIcon,
.homeIcon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 75%;
}

.homeIcon {
    width: 65%;
}

.homeIcon p,
.addIcon p,
.trashIcon p,
.log-in p,
.Go-back-to-home-page p {
    font-size: larger;
}

.homeIcon img {
    margin-left: 2%;
}

.top-most-of-sideNavigation-btn,
.top-down-of-sideNavigation-bar {
    width: 15%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 18%;
}

.top-down-of-sideNavigation-bar {
    top: 85%;
}

.trashIcon,
.log-in {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 65%;
}

.Go-back-to-home-page {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 13%;
    height: 100%;
    left: 15.2%;
}

.Go-back-to-home-page img {
    margin-left: -15%;
}

.nav-bar {
    height: 8%;
    border-bottom: 4px solid black;
    width: 84.8vw;
    position: absolute;
    left: 15.2%;
    top: 0;
}

.Switch-left,
.Bell {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Profile {
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Profile-icon {
    height: 40px;
    width: 40px;
    border: 2px solid #FEFBF6;
    border-radius: 50%;
    background-color: #0F1035;
}

.cover-up-div-of-top-upper-right-icons {
    height: 100%;
    width: 18%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 82%;
    margin-top: -4.2%;
}

.taskStatusContainer {
    border: 4px solid black;
    width: 80%;
    margin-left: 17.5%;
    margin-top: -13%;
    font-size: 25px;
    border-radius: 24px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
    background-color: #FFF7F1;
    color: black;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.TotalTasksElement,
.AssignedTasksElement,
.CancelledTasksElement,
.DueTasksElement,
.InProgressTasks {
    height: 120px;
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: 3px solid black;
}

.CancelledTasksElement,
.InProgressTasks {
    width: 26%;
}

.AssignedTasksElement {
    border: none;
}

.placeholder-number {
    margin-top: 10%;
    font-size: 24px;
}

.UpcomingTasksContainer {
    width: 80%;
    border: 4px solid black;
    margin-left: 17.5%;
    border-radius: 24px;
    height: 230px;
    background-color: #0F1035;
    color: #FEFBF6;
    margin-top: 1%;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.upComingTasks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 18%;
    margin-top: 1%;
    margin-left: 1%;
}

.upComingTasks p,
.TodaysTask p {
    font-size: larger;
}

.UpcomingTaskDisplayerContainer {
    width: 80%;
    height: 50px;
    background-color: #FEFBF6;
    margin-top: 1%;
    margin-left: 2%;
}

.ShowMoreLabel {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 10%;
    margin-top: 1%;
    margin-left: 80%;
}

.ShowMoreLabel img {
    background-color: #FEFBF6;
}

.TodaysTaskContainer {
    width: 80%;
    border: 4px solid black;
    margin-left: 17.5%;
    border-radius: 24px;
    background-color: #FEFBF6;
    margin-top: 1%;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.TodaysTask {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 14%;
    margin-top: 1%;
    margin-left: 1%;
}

.border-bottom-line {
    margin-left: 1%;
    height: 2%;
    width: 98%;
    border: 1px solid black;
}

.TodaysTaskRow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 0.5%;
}

.hashp1 {
    margin-left: -4%;
}

.Tasknamep2 {
    margin-left: 8%;
}

.Priorityp3 {
    margin-left: 30%;
}

.Statusp4 {
    margin-left: 15%;
}

.Deadlinep5 {
    margin-left: 15%;
}

.vector {
    margin-left: 2%;
    margin-top: 1%;

}

.NavBarContainer {
    background-color: white;
    width: 100%;
    top: 0%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.NavBarContainer ul {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 40%;
    height: 2%;
    list-style: none;
    font-size: larger;
    margin-top: 3px;
}
.NavBarContainer ul li {
    position: relative; /* Add position relative to the list item */
}

.NavBarContainer ul li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; 
    height: 0.2px; 
    background-color: black;
    transition: width 0.2s; 
}
.NavBarContainer ul li:hover::before {
    width: 100%;
}
.NavBarContainer ul li:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.1s;
    border-bottom: 2px solid black; 
}
.Overall-div-of-get-started-page img {
    height: 800px;
    width: 1100px;
    margin-left: 22%;
}

.Slogan-and-tagline-of-get-started-page {
    height: 40%;
    width: 40%;
    position: absolute;
    text-align: left;
    top: 18%;
    left: 10%;
}

.slogan-para {
    font-size: 50px;
    margin-bottom: 0.5%;
}

.tagline-of-the-landing-page {
    margin-top: 3%;
    font-size: 24px;
    font-weight: 300;
}
.get-started-btn {
    height: 60px;
    width: 230px;
    background-color: #FD8A3A;
    color: white;
    font-size: 30px;
    position: absolute;
    bottom: 33%;
    right: 74%;
    border: none;
    cursor: pointer;
    border-radius: 9px;
    position: absolute;
    z-index: 1;
    overflow: hidden;
  }
  
  .get-started-btn:hover {
    color: black;
  }
  
  .get-started-btn:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
  }
  
  .get-started-btn:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
.about-P-tag {
    font-size: 50px;
    text-align: center;
    margin-top: 2%;
}

.Description-p-tag-of-about-me {
    margin-top: 2%;
    font-size: 25px;
    text-align: center;
}
.Join-Now-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 145px;
    height: 35px;
    position: relative;
    padding: 0 20px;
    font-size: larger;
    border-radius: 40px;
    border-top: 0;
    border-left: 0;
    margin-left: 45%;
    margin-top: 2%;
    background-color: #FD8A3A;
    overflow: hidden;
    transition: 31ms cubic-bezier(.5, .7, .4, 1);
   }
   .Join-Now-btn:before {
    content: attr(alt);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    font-size: 20px;
    font-weight:500;
    color:#000000;
    letter-spacing: 1px;
    opacity: 1;
   }
   .Join-Now-btn:active {
    box-shadow: none;
    transform: translateY(7px);
    transition: 35ms cubic-bezier(.5, .7, .4, 1);
   }
   .Join-Now-btn:hover:before {
    transition: all .0s;
    transform: translateY(100%);
    opacity: 0;
   }
   .Join-Now-btn i {
    color: white;
    font-size: 20px;
    font-weight:500;
    letter-spacing: 1px;
    font-style: normal;
    transition: all 2s ease;
    transform: translateY(-20px);
    opacity: 0;
   }
   .Join-Now-btn:hover i {
    transition: all .2s ease;
    transform: translateY(0px);
    opacity: 1;
   }
   .Join-Now-btn:hover i:nth-child(1) {
    transition-delay: 0.045s;
   }
   .Join-Now-btn:hover i:nth-child(2) {
    transition-delay: calc(0.045s * 3);
   }
   .Join-Now-btn:hover i:nth-child(3) {
    transition-delay: calc(0.045s * 4);
   }
   .Join-Now-btn:hover i:nth-child(4) {
    transition-delay: calc(0.045s * 5);
   }
   .Join-Now-btn:hover i:nth-child(6) {
    transition-delay: calc(0.045s * 6);
   }
   
   .Join-Now-btn:hover i:nth-child(7) {
    transition-delay: calc(0.045s * 7);
   }
   
   .Join-Now-btn:hover i:nth-child(8) {
    transition-delay: calc(0.045s * 8);
   }
   
   .Join-Now-btn:hover i:nth-child(9) {
    transition-delay: calc(0.045s * 9);
   }
   
   .Join-Now-btn:hover i:nth-child(10) {
    transition-delay: calc(0.045s * 10);
   }
.features-p-tag-of-about-me {
    font-size: 40px;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
}
.Authetication_container, .Reliable_Container, .Mail_container, .calendar_container, .Group-img_container, .extension_container{
    height: 300px;
    width: 330px;
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 24px;
    margin-bottom: 3%;
 }
 .Authetication_container:hover , .Reliable_Container:hover , .Mail_container:hover , .calendar_container:hover , .Group-img_container:hover , .extension_container:hover {
    background-color:#FFEBB2;
    color: #453F78;
    cursor: pointer;
 }
.Authetication_container img, .calendar_container img, .Group-img_container img, .extension_container img{
    height: 235px;
    width: 250px;
    margin-bottom: 1%;
}
.Reliable_Container img{
    height: 235px;
    width: 250px;
    margin-bottom: 1%;
}
.Mail_container img{
    height: 235px;
    width: 235px;
    margin-bottom: 1%;
}
.Features-container-1, .Features-container-2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.Technologies_div{
    font-size: 40px;
    margin-left: 2%;
}
.overall-div-technology-page{
    background-color: white;
    width: 100%;
    height: auto;
    padding: 2%;
}
.technology-icon-div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 2%;
}
.react-icon:hover, .css-icon:hover, .mongoDB-icon:hover, .expressJS-icon:hover, .nodeJS_icon:hover, .websocket_icon:hover{
    background-color:#FFEBB2;
    cursor: pointer;
}
.react-icon, .css-icon, .mongoDB-icon, .expressJS-icon, .nodeJS_icon, .websocket_icon{
    height: 250px;
    width: 260px;
    padding: 1%;
    margin-top: 4%;
    border: 3px solid black;
    border-radius: 24px;
}
.react-icon img, .css-icon img, .mongoDB-icon img, .expressJS-icon img, .nodeJS_icon img, .websocket_icon img{
    height: 220px;
    width: 250px;
}
.about-newsletter-container{
    background-color: white;
    color: black;
    font-size: 16px;
    height: 100px;
    width: 350px;
    margin-top: 3%;
    text-align: center;
    border-radius: 2px;
    margin-left: 2%;
    padding: 1%;
}
.input-field-container-for-newsletter-signup{
    margin-top: 4%;
    width: 80%;
    margin-left: 2%;
}
.input-field-container-for-newsletter-signup input{
    height: 30px;
    width: 200px;
    border-radius: 4px;
    text-align: center;
    margin-right: 2%;
}
.input-field-container-for-newsletter-signup button{
    height: 30px;
    width: 100px;
    border-radius: 24px;
    background-color: #FD8A3A;
    font-size: 16px;
    color: #FFF7F1;
}
.input-field-container-for-newsletter-signup button:hover{
    transform: scale(1.1);
    font-weight:500;
    cursor: pointer;
}
.newsletter-container{
    margin-right: 50%;
}
.newsletter_container{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
}
.first-line-divs{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.mail_information{
    margin-top: 4%;
    margin-left: -2%;
}
.Additional-link_container{
    margin-top: 4%;
    margin-left: -2%;
}
.Quick-link_container, .newsletter_container{
    margin-top: 4%;
    margin-left: -2%;
}
.social-media-container{
    margin-top: -5%;
    margin-left: 5%;
}
.social-media-icon-container{
    display: flex;
    margin-top: 2%;
    justify-content: space-evenly;
    align-items: center;
}
.copyright_container{
    margin-left: 35%;
}
@media screen and (max-width: 1120px){
    .NavBarContainer ul{
        margin-left: 30%;
    }
    .Overall-div-of-get-started-page img {
        height: 730px;
        width: 942px;
        margin-left: 8%;
        margin-top: 5%;
    }
    .slogan-para{
        font-size: 40px;
        margin-bottom: 0.5%;
    }
    .Slogan-and-tagline-of-get-started-page {
        height: 30%;
        width: 50%;
        top: 18%;
        left: 8%;
    }
    .get-started-btn {
        bottom: 45%;
        right: 70%;
    }
    .react-icon, .css-icon, .mongoDB-icon, .expressJS-icon, .nodeJS_icon, .websocket_icon {
        height: 195px;
        width: 220px;
    }    .react-icon img, .css-icon img, .mongoDB-icon img, .expressJS-icon img, .nodeJS_icon img, .websocket_icon img {
        height: 185px;
        width: 205px;
    }
    .about-P-tag {
        font-size: 45px;
        text-align: center;
    }
    .Description-p-tag-of-about-me {
        margin-top: 2%;
        font-size: 17px;
    }
}