/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #d4d4d4;
}

.mainPage-content {
    margin-top: 15%;
}

.white-background {
    background-color: white;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
}

.blur-background {
    filter: blur(4px);
}

.headin-of-add-task-container p {
    font-size: 26px;
}

.add-task-form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30vw;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    z-index: 1000;
    border: 2px solid black;
}

.Cross-lordIcon-and-Heading-of-Add-Task-Form-Container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Cross-lordIcon {
    margin-left: 40%;
}

.Event-adding-task-input {
    height: 25px;
}

.Event-adding-task-Description-input {
    resize: vertical;
}

.Event-add-task-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 1%;
}

.Event-add-task-container label {
    font-size: 18px;
    font-weight: 500;
}

.Event-adding-Event-input-field,
.Event-adding-Event-description-input-field,
.Event-adding-Event-date-input-field,
.Event-adding-Event-time-input-field,
.Event-adding-task-status-field,
.Event-adding-task-priority-field {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.Event-adding-Event-date-and-time-field,
.Event-adding-status-and-priority-field {
    display: flex;
    flex-direction: row;
}

.Event-adding-Event-time-input-field,
.Event-adding-task-priority-field {
    margin-left: 10%;
}

.Cancel-Button,
.Add-event-Ok-button {
    height: 30px;
    font-size: 18px;
    width: 20%;
    border-radius: 5px;
}

.Add-event-Ok-button {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.Cancel-Button-and-Add-event-Button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
}

.error-message {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 3%;
    color: red;
}

@keyframes clockwise {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes counter-clockwise {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.gearbox {
    background: #ffffff;
    height: 150px;
    width: 200px;
    position: relative;
    border: none;
    margin-top: 20%;
    margin-left: 43%;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
}

.gearbox .overlay {
    border-radius: 6px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    box-shadow: inset 0px 0px 20px black;
    transition: background 0.2s;
}

.gearbox .overlay {
    background: transparent;
}

.gear {
    position: absolute;
    height: 60px;
    width: 60px;
    box-shadow: 0px -1px 0px 0px #888888, 0px 1px 0px 0px black;
    border-radius: 30px;
}

.gear.large {
    height: 120px;
    width: 120px;
    border-radius: 60px;
}

.gear.large:after {
    height: 96px;
    width: 96px;
    border-radius: 48px;
    margin-left: -48px;
    margin-top: -48px;
}

.gear.one {
    top: 12px;
    left: 10px;
}

.gear.two {
    top: 61px;
    left: 60px;
}

.gear.three {
    top: 110px;
    left: 10px;
}

.gear.four {
    top: 13px;
    left: 128px;
}

.gear:after {
    content: "";
    position: absolute;
    height: 36px;
    width: 36px;
    border-radius: 36px;
    background: #ffffff;
    top: 50%;
    left: 50%;
    margin-left: -18px;
    margin-top: -18px;
    z-index: 3;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1), inset 0px 2px 0px 0px #090909, inset 0px -1px 0px 0px #888888;
}

.gear-inner {
    position: relative;
    height: 100%;
    width: 100%;
    background: #555;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.large .gear-inner {
    border-radius: 60px;
}

.gear.one .gear-inner {
    animation: counter-clockwise 3s infinite linear;
}

.gear.two .gear-inner {
    animation: clockwise 3s infinite linear;
}

.gear.three .gear-inner {
    animation: counter-clockwise 3s infinite linear;
}

.gear.four .gear-inner {
    animation: counter-clockwise 6s infinite linear;
}

.gear-inner .bar {
    background: #555;
    height: 16px;
    width: 76px;
    position: absolute;
    left: 50%;
    margin-left: -38px;
    top: 50%;
    margin-top: -8px;
    border-radius: 2px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.large .gear-inner .bar {
    margin-left: -68px;
    width: 136px;
}

.gear-inner .bar:nth-child(2) {
    transform: rotate(60deg);
}

.gear-inner .bar:nth-child(3) {
    transform: rotate(120deg);
}

.gear-inner .bar:nth-child(4) {
    transform: rotate(90deg);
}

.gear-inner .bar:nth-child(5) {
    transform: rotate(30deg);
}

.gear-inner .bar:nth-child(6) {
    transform: rotate(150deg);
}

.Vertical-bar {
    border: 2px solid black;
    height: 100%;
    position: absolute;
    left: 5%;
    top: 0;
}

hr {
    border: 2px solid black;
    position: absolute;
    width: 85%;
    left: 15%;
    top: 8%;
}

.ProductivityPandaImageLandingLogo {
    width: 180px;
}

.ProductivityPandaImageLandingLogo img {
    width: 180px;

}

.ProductivityPandaImage img {
    width: 70px;
    height: 70px;
    position: relative;
    top: 2%;
    left: 5%;
}

.ProductivityPandaImage {
    width: 70px;
    height: 70px;
}

.top-down-of-sideNavigation-bar {
    width: 15%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 85%;
}

.trashIcon,
.log-in {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 33%;
}

.log-in {
    margin-top: 8%;
}

.log-in img {
    width: 100%;
    height: 100%;
}

.Go-back-to-home-page {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 13%;
    height: 100%;
    left: 15.2%;
}

.Go-back-to-home-page img {
    margin-left: -15%;
}

.nav-bar {
    height: 8%;
    border-bottom: 4px solid black;
    width: 95%;
    position: absolute;
    left: 5%;
    top: 0;
}

.Add-task-Container {
    margin-top: 4%;
    margin-left: 60%;
    position: relative;
    display: inline-block;
}

.Add-task-Container .tooltiptext {
    visibility: hidden;
    width: 100px;
    font-weight: 500;
    font-size: larger;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    /* changed from bottom to top */
    /* left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
} */

/* .Add-task-Container .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%; */
    /* changed from top to bottom */
    /* left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
} */

/* .Add-task-Container:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.Switch-left,
.Bell {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Profile {
    height: 70%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Profile-icon img {
    height: 20%;
    width: 20%; */
    /* border: 2px solid #FEFBF6; */
    /* border-radius: 100%; */
    /* background-color: #0F1035; */
/* } */

/* .cover-up-div-of-top-upper-right-icons {
    height: 100%;
    width: 18%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 82%;
    margin-top: -4.2%;
} */

/* .taskStatusContainer {
    border: 4px solid black;
    width: 80%;
    margin-left: 17.5%;
    margin-top: -13%;
    font-size: 25px;
    border-radius: 24px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
    background-color: #FFF7F1;
    color: black;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
} */

/* .TotalTasksElement,
.AssignedTasksElement,
.CancelledTasksElement,
.DueTasksElement,
.InProgressTasks {
    height: 120px;
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: 3px solid black;
} */

/* .CancelledTasksElement,
.InProgressTasks {
    width: 26%;
}

.AssignedTasksElement {
    border: none;
}

.placeholder-number {
    margin-top: 10%;
    font-size: 24px;
}

.UpcomingTasksContainer {
    width: 80%;
    border: 4px solid black;
    margin-left: 17.5%;
    border-radius: 24px;
    height: 230px;
    background-color: #0F1035;
    color: #FEFBF6;
    margin-top: 1%;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
} */

/* .upComingTasks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 18%;
    margin-top: 1%;
    margin-left: 1%;
}

.upComingTasks p,
.TodaysTask p {
    font-size: larger;
}

.UpcomingTaskDisplayerContainer {
    width: 80%;
    height: 50px;
    background-color: #FEFBF6;
    margin-top: 1%;
    margin-left: 2%;
}

.ShowMoreLabel {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 10%;
    margin-top: 1%;
    margin-left: 80%;
}

.ShowMoreLabel img {
    background-color: #FEFBF6;
}

.TodaysTaskContainer {
    width: 80%;
    border: 4px solid black;
    margin-left: 17.5%;
    border-radius: 24px;
    background-color: #FEFBF6;
    margin-top: 1%;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.TodaysTask {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 14%;
    margin-top: 1%;
    margin-left: 1%;
}

.border-bottom-line {
    margin-left: 1%;
    height: 2%;
    width: 98%;
    border: 1px solid black;
}

.TodaysTaskRow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 0.5%;
}

.hashp1 {
    margin-left: -4%;
}

.Tasknamep2 {
    margin-left: 8%;
}

.Priorityp3 {
    margin-left: 30%;
}

.Statusp4 {
    margin-left: 15%;
}

.Deadlinep5 {
    margin-left: 15%;
}

.vector {
    margin-left: 2%;
    margin-top: 1%;

}

.NavBarContainer {
    background-color: white;
    width: 100%;
    top: 0%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.NavBarContainer ul {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 40%;
    height: 2%;
    list-style: none;
    font-size: larger;
    margin-top: 3px;
}

.NavBarContainer ul li {
    position: relative;
}

.Linkage {
    text-decoration: none;
    color: black;
}

.HamburgerMenu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.HamburgerLine {
    width: 34px;
    height: 2px;
    background-color: #000;
    margin: 3px 0;
    transition: all 0.3s ease-in-out;
}

.CrossSymbol .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.CrossSymbol .line2 {
    opacity: 0;
}

.CrossSymbol .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.NavBarContainer ul li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.2px;
    background-color: black;
    transition: width 0.2s;
}

.NavBarContainer ul li:hover::before {
    width: 100%;
}

.NavBarContainer ul li:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.1s;
    border-bottom: 2px solid black;
}

.Overall-div-of-get-started-page img {
    height: 800px;
    width: 1100px;
    margin-left: 22%;
}

.Slogan-and-tagline-of-get-started-page {
    height: 40%;
    width: 40%;
    position: absolute;
    text-align: left;
    top: 18%;
    left: 10%;
}

.slogan-para {
    font-size: 50px;
    margin-bottom: 0.5%;
}

.tagline-of-the-landing-page {
    margin-top: 3%;
    font-size: 24px;
    font-weight: 300;
}

.get-started-btn {
    height: 60px;
    width: 230px;
    background-color: #FD8A3A;
    color: white;
    font-size: 30px;
    position: absolute;
    bottom: 33%;
    right: 74%;
    border: none;
    cursor: pointer;
    border-radius: 9px;
    z-index: 1;
    overflow: hidden;
}

.get-started-btn:hover {
    color: black;
}

.get-started-btn:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

.get-started-btn:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.about-P-tag {
    font-size: 50px;
    text-align: center;
    margin-top: 2%;
}

.Description-p-tag-of-about-me {
    margin-top: 2%;
    font-size: 25px;
    text-align: center;
}

.Join-Now-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 145px;
    height: 35px;
    position: relative;
    padding: 0 20px;
    font-size: larger;
    border-radius: 40px;
    border-top: 0;
    border-left: 0;
    margin-left: 45%;
    margin-top: 2%;
    background-color: #FD8A3A;
    overflow: hidden;
    transition: 31ms cubic-bezier(.5, .7, .4, 1);
}

.Join-Now-btn:before {
    content: attr(alt);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    letter-spacing: 1px;
    opacity: 1;
}

.Join-Now-btn:active {
    box-shadow: none;
    transform: translateY(7px);
    transition: 35ms cubic-bezier(.5, .7, .4, 1);
}

.Join-Now-btn:hover:before {
    transition: all .0s;
    transform: translateY(100%);
    opacity: 0;
}

.Join-Now-btn i {
    color: white;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    font-style: normal;
    transition: all 2s ease;
    transform: translateY(-20px);
    opacity: 0;
}

.Join-Now-btn:hover i {
    transition: all .2s ease;
    transform: translateY(0px);
    opacity: 1;
}

.Join-Now-btn:hover i:nth-child(1) {
    transition-delay: 0.045s;
}

.Join-Now-btn:hover i:nth-child(2) {
    transition-delay: calc(0.045s * 3);
}

.Join-Now-btn:hover i:nth-child(3) {
    transition-delay: calc(0.045s * 4);
}

.Join-Now-btn:hover i:nth-child(4) {
    transition-delay: calc(0.045s * 5);
}

.Join-Now-btn:hover i:nth-child(6) {
    transition-delay: calc(0.045s * 6);
}

.Join-Now-btn:hover i:nth-child(7) {
    transition-delay: calc(0.045s * 7);
}

.Join-Now-btn:hover i:nth-child(8) {
    transition-delay: calc(0.045s * 8);
}

.Join-Now-btn:hover i:nth-child(9) {
    transition-delay: calc(0.045s * 9);
}

.Join-Now-btn:hover i:nth-child(10) {
    transition-delay: calc(0.045s * 10);
}

.features-p-tag-of-about-me {
    font-size: 40px;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.Authetication_container,
.Reliable_Container,
.Mail_container,
.calendar_container,
.Group-img_container,
.extension_container {
    height: 300px;
    width: 330px;
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 24px;
    margin-bottom: 3%;
}

.Authetication_container:hover,
.Reliable_Container:hover,
.Mail_container:hover,
.calendar_container:hover,
.Group-img_container:hover,
.extension_container:hover {
    background-color: #FFEBB2;
    color: #453F78;
    cursor: pointer;
}

.Authetication_container img,
.calendar_container img,
.Group-img_container img,
.extension_container img {
    height: 235px;
    width: 250px;
    margin-bottom: 1%;
}

.Reliable_Container img {
    height: 235px;
    width: 250px;
    margin-bottom: 1%;
}

.Mail_container img {
    height: 235px;
    width: 235px;
    margin-bottom: 1%;
}

.Features-container-1,
.Features-container-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Technologies_div {
    font-size: 40px;
    margin-left: 2%;
}

.overall-div-technology-page {
    background-color: white;
    width: 100%;
    height: auto;
    padding: 2%;
}

.technology-icon-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 2%;
}

.react-icon:hover,
.css-icon:hover,
.mongoDB-icon:hover,
.expressJS-icon:hover,
.nodeJS_icon:hover,
.websocket_icon:hover {
    background-color: #FFEBB2;
    cursor: pointer;
}

.react-icon,
.css-icon,
.mongoDB-icon,
.expressJS-icon,
.nodeJS_icon,
.websocket_icon {
    height: 250px;
    width: 260px;
    padding: 1%;
    margin-top: 4%;
    border: 3px solid black;
    border-radius: 24px;
}

.react-icon img,
.css-icon img,
.mongoDB-icon img,
.expressJS-icon img,
.nodeJS_icon img,
.websocket_icon img {
    height: 220px;
    width: 250px;
}

.footer-container {
    background-color: black;
    color: white;
    font-size: 22px;
}

.about-newsletter-container {
    background-color: white;
    color: black;
    font-size: 16px;
    height: 100px;
    width: 350px;
    margin-top: 3%;
    text-align: center;
    border-radius: 2px;
    margin-left: 2%;
    padding: 1%;
}

.input-field-container-for-newsletter-signup {
    margin-top: 4%;
    width: 80%;
    margin-left: 2%;
}

.input-field-container-for-newsletter-signup input {
    height: 30px;
    width: 200px;
    border-radius: 4px;
    text-align: center;
    margin-right: 2%;
}

.input-field-container-for-newsletter-signup button {
    height: 30px;
    width: 100px;
    border-radius: 24px;
    background-color: #FD8A3A;
    font-size: 16px;
    color: #FFF7F1;
}

.input-field-container-for-newsletter-signup button:hover {
    transform: scale(1.1);
    font-weight: 500;
    cursor: pointer;
}

.newsletter-container {
    margin-right: 50%;
    color: red;
}

.newsletter_container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 200px;
    width: 400px;
    flex-direction: column;
}

.first-line-divs {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.mail_information {
    height: 70px;
    width: 340px;
    margin-top: 4%;
    margin-left: -2%;
}

.Additional-link_container {
    margin-top: 4%;
    margin-left: -2%;
    height: 130px;
    width: 190px;
}

.Quick-link_container {
    height: 130px;
    width: 140px;
}

.heading-red {
    color: red;
}

.Quick-link_container,
.newsletter_container {
    margin-top: 4%;
    margin-left: -2%;
}

.social-media-container {
    margin-top: -5%;
    margin-left: 5%;
}

.social-media-icon-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    width: 200px;
}

.social-media-icon-container img {
    height: 40px;
}

.copyright_container {
    margin-left: 35%;
    height: 70px;
    width: 400px;
}

.sign-up-container {
    border-radius: 12px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30vw;
    padding: 1%;
    border: 2px solid black;
    margin-top: 5%;
}

.log-in-container {
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    width: 30vw;
    padding: 1%;
    border: 2px solid black;
    margin-top: 5%;
}

.details-paragraph-tag,
.details-paragraph-tag1 {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 5%;
    text-align: center;
}

.sign-up-title,
.log-in-title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 2%;
    text-align: center;
}

.sign-up-form,
.log-in-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 5%;
}

.sign-up-label,
.log-in-label {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0.5%;
}

.sign-up-input,
.log-in-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
}

.sign-up-button,
.log-in-button {
    background-color: #0F1035;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 24px;
    font-size: 20px;
    margin-bottom: 2%;
    margin-top: 2%;
}

#Google-container button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in-link,
.log-in-link {
    font-size: 12px;
    text-align: center;
    font-weight: 300;
}

.task-management-sign-in-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    height: 20%;
    width: 50vw;
    margin-left: 5%;
}

.task-management-sign-in-image img {
    width: 40vw;
}

.sign-in-page,
.log-in-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

/* @media screen and (max-width: 1120px) {
    .sign-up-container {
        width: 35vw;
    }

    .gearbox {
        margin-top: 25%;
        margin-left: 40%;
    }

    .NavBarContainer ul {
        margin-left: 30%;
    }

    .Overall-div-of-get-started-page img {
        height: 730px;
        width: 942px;
        margin-left: 8%;
        margin-top: 5%;
    }

    .slogan-para {
        font-size: 40px;
        margin-bottom: 0.5%;
    }

    .Slogan-and-tagline-of-get-started-page {
        height: 30%;
        width: 50%;
        top: 18%;
        left: 8%;
    }

    .get-started-btn {
        bottom: 35%;
        right: 70%;
    }

    .react-icon,
    .css-icon,
    .mongoDB-icon,
    .expressJS-icon,
    .nodeJS_icon,
    .websocket_icon {
        height: 195px;
        width: 220px;
        border-radius: 10px;
    }

    .react-icon img,
    .css-icon img,
    .mongoDB-icon img,
    .expressJS-icon img,
    .nodeJS_icon img,
    .websocket_icon img {
        height: 185px;
        width: 205px;
    }

    .about-P-tag {
        font-size: 45px;
        text-align: center;
    }

    .Description-p-tag-of-about-me {
        margin-top: 2%;
        font-size: 17px;
    }

    .features-p-tag-of-about-me {
        font-size: 35px;
    }

    .Authetication_container,
    .Reliable_Container,
    .Mail_container,
    .calendar_container,
    .Group-img_container,
    .extension_container {
        height: 275px;
        width: 300px;
    }

    .Authetication_container img,
    .calendar_container img,
    .Group-img_container img,
    .extension_container img {
        height: 200px;
        width: 225px;
        margin-bottom: 4%;
    }

    .Reliable_Container img {
        height: 200px;
        width: 210px;
        margin-bottom: 4%;
    }

    .Mail_container img {
        height: 210px;
        width: 210px;
        margin-bottom: 1%;
    }

    .Technologies_div {
        font-size: 35px;
    }

    .footer-container {
        font-size: 18px;
    }

    .mail_information {
        height: 50px;
        width: 265px;
        margin-left: 0%;
    }

    .Additional-link_container {
        margin-left: 0%;
        height: 90px;
        width: 150px;
    }

    .Quick-link_container {
        height: 100px;
        width: 110px;
        margin-left: 0%;
    }

    .newsletter_container {
        height: 180px;
        width: 385px;
    }

    .input-field-container-for-newsletter-signup input {
        width: 195px;
        margin-right: 4%;
    }
} */

/* @media screen and (max-width: 769px) {
    .sign-up-container {
        width: 40vw;
    }

    .log-in-container {
        height: 70vh;
        width: 52vw;
        margin-left: 3%;
    }

    .log-in-page {
        height: 100vh;
    }

    .task-management-sign-in-image img {
        width: 50vw;
    }

    .sign-up-title {
        font-size: 24px;
        margin-bottom: 1%;
    }

    .sign-up-label {
        font-size: 14px;
    }

    .sign-up-button {
        padding: 5px 5px;
        font-size: 18px;
        margin-bottom: 1%;
        margin-top: 1%;
    }

    .ProductivityPandaImageLandingLogo {
        margin-left: -70%;
    }

    .HamburgerMenu {
        display: flex;
        position: absolute;
        left: 90%;
        z-index: 1000;
    }

    .NavBarContainer ul {
        display: none;
        flex-direction: row;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #f9f9f9;
        width: 100%;
        padding: 10px;
        justify-content: space-evenly;
        margin-top: 0;
    }

    .NavBarContainer ul.open {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 90vh;
        width: 50%;
        font-size: x-large;
        background-color: #FFFFFF;
        margin-left: 50%;
        border-radius: 0px;
        border-left: 2px solid black;
    }

    .NavBarContainer ul li {
        margin: 10px 0;
    }

    .NavBarContainer ul li:hover {
        width: 85%;
        background-color: #D3C9C9;
        text-align: center;
        border-radius: 5px;
        height: 10%;
        border-top: 2px solid;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .Overall-div-of-get-started-page img {
        height: 655px;
        width: 740px;
        margin-left: 4%;
    }

    .Slogan-and-tagline-of-get-started-page {
        height: 30%;
        width: 55%;
        top: 23%;
        left: 8%;
    }

    .slogan-para {
        font-size: 30px;
    }

    .tagline-of-the-landing-page {
        font-size: 20px;
    }

    .get-started-btn {
        height: 50px;
        width: 200px;
        font-size: 30px;
        bottom: 38%;
        right: 66%;
    }

    .Authetication_container,
    .Reliable_Container,
    .Mail_container,
    .calendar_container,
    .Group-img_container,
    .extension_container {
        height: 250px;
        width: 230px;
    }

    .Authetication_container img,
    .calendar_container img,
    .Group-img_container img,
    .extension_container img {
        height: 170px;
        width: 200px;
        margin-bottom: 2%;
    }

    .Reliable_Container img {
        height: 160px;
        width: 180px;
        margin-bottom: 4%;
    }

    .Mail_container img {
        height: 180px;
        width: 180px;
    }

    .about-P-tag {
        font-size: 40px;
    }

    .Description-p-tag-of-about-me {
        font-size: 16px;
    }

    .Join-Now-btn {
        margin-left: 40%;
    }

    .features-p-tag-of-about-me,
    .Technologies_div {
        font-size: 30px;
    }

    .technology-icon-div {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-container {
        font-size: 13px;
    }

    .mail_information {
        height: 40px;
        width: 192px;
        margin-left: 0%;
    }

    .Additional-link_container {
        margin-left: 0%;
        height: 70px;
        width: 108px;
    }

    .Quick-link_container {
        height: 70px;
        width: 80px;
        margin-left: 0%;
    }

    .newsletter_container {
        height: 150px;
        width: 300px;
    }

    .input-field-container-for-newsletter-signup {
        margin-top: 2%;
        width: 100%;
        margin-left: 0%;
    }

    .input-field-container-for-newsletter-signup input {
        width: 180px;
        margin-right: 3%;
    }

    .input-field-container-for-newsletter-signup button {
        height: 25px;
        width: 80px;
        font-size: 13px;
        border-radius: 2px;
    }

    .about-newsletter-container {
        font-size: 12px;
        height: 95px;
        width: 297px;
        border-radius: 5px;
        margin-left: 0%;
    }

    .social-media-container {
        margin-left: 3%;
        height: auto;
        width: 17%;
    }

    .social-media-icon-container {
        justify-content: space-around;
        width: 100%;
        height: 50px;
    }

    .copyright_container {
        margin-left: 32%;
        height: 50px;
        width: 32%;
    }
}

@media screen and (max-width: 464px) {
    .log-in-container {
        height: 70vh;
        width: 80vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .task-management-sign-in-image {
        display: none;
    }

    .sign-up-container {
        width: 75vw;
        height: 80vh;
    }

    .gearbox {
        margin-top: 53%;
        margin-left: 26%;
    }

    .NavBarContainer ul.open {
        display: flex;
        flex-direction: column;
        height: 90vh;
        width: 50%;
        font-size: large;
        background-color: #FFFFFF;
        margin-left: 50%;
        border-left: 2px solid black;
    }

    .ProductivityPandaImageLandingLogo {
        margin-left: -55%;
    }

    .ProductivityPandaImageLandingLogo img {
        width: 150px;
    }

    .Overall-div-of-get-started-page img {
        display: none;
    }

    .tagline-of-the-landing-page {
        font-size: 14px;
    }

    .Slogan-and-tagline-of-get-started-page {
        height: 2%;
        width: 100%;
        font-size: 25px;
        position: unset;
        margin-top: 25%;
        margin-left: 3%;
        padding: 1%;
        border-radius: 12px;
        margin-bottom: 20%;
    }

    .footer-container {
        font-size: 16px;
    }

    .mail_information {
        margin-left: 3%;
    }

    .Additional-link_container {
        margin-left: 0%;
        height: 80px;
        width: 140px;
        margin-left: 3%;
    }

    .Quick-link_container {
        height: 80px;
        width: 100px;
        margin-left: 3%;
    }

    .about-newsletter-container {
        font-size: 14px;
        height: 95px;
        width: 350px;
        border-radius: 5px;
        margin-left: 0%;
    }

    .get-started-btn {
        height: 35px;
        width: 160px;
        font-size: 24px;
        bottom: 48%;
        right: 60%;
    }

    .Authetication_container,
    .Reliable_Container,
    .Mail_container,
    .calendar_container,
    .Group-img_container,
    .extension_container {
        height: 180px;
        width: 180px;
        padding: 5%;
        font-size: 12px;
        margin-left: 1%;
    }

    .Reliable_Container img {
        height: 100px;
        width: 93px;
        margin-bottom: 7%;
    }

    .Mail_container img {
        height: 180px;
        width: 110px;
    }

    .react-icon,
    .css-icon,
    .mongoDB-icon,
    .expressJS-icon,
    .nodeJS_icon,
    .websocket_icon {
        height: 160px;
        width: 170px;
    }

    .react-icon img,
    .css-icon img,
    .mongoDB-icon img,
    .expressJS-icon img,
    .nodeJS_icon img,
    .websocket_icon img {
        height: 150px;
        width: 160px;
    }

    .Authetication_container img,
    .calendar_container img,
    .Group-img_container img,
    .extension_container img {
        height: 100px;
        width: 100px;
        margin-bottom: 0%;
    }

    .footer-container {
        font-size: 12px;
    }

    .technology-icon-div {
        overflow-x: auto;
        grid-column-gap: 2%;
    }

    .Features-container-1,
    .Features-container-2 {
        overflow-x: auto;
        padding: 1%;
    }

    .first-line-divs {
        flex-direction: column;
    }

    .about-P-tag {
        font-size: 30px;
    }

    .Description-p-tag-of-about-me {
        font-size: 12px;
    }

    .Slogan-and-tagline-of-get-started-page {
        margin-left: 0%;
    }

    .Join-Now-btn {
        margin-left: 30%;
    }

    .newsletter_container {
        height: 170px;
        width: 360px;
        margin-left: 3%;
    }

    .social-media-container {
        margin-left: 3%;
        height: auto;
        width: 35%;
        margin-top: 2%;
    }

    .copyright_container {
        margin-left: 15%;
        height: 50px;
        width: 75%;
        margin-top: 3%;
    }

    body {
        background-color: #FFFF80;
    }

    .HamburgerMenu {
        left: 88%;
    }

    .copyright_container {
        margin-left: 3%;
    }
} */

/* @media screen and (max-width: 376px) {
    .HamburgerMenu {
        margin-left: 2%;
    }

    .ProductivityPandaImageLandingLogo {
        margin-left: -50%;
    }

    .get-started-btn {
        bottom: 50%;
        right: 60%;
        height: 30px;
        width: 140px;
        font-size: 20px;
    }

    .about-P-tag {
        font-size: 26px;
    }

    .Description-p-tag-of-about-me {
        font-size: 10px;
    }

    .Join-Now-btn:before {
        font-size: 16px;
    }

    .Join-Now-btn {
        width: 120px;
        height: 30px;
    }

    .copyright_container {
        margin-left: 3%;
    }
} */

/* @media screen and (max-width: 320px) {
    .log-in-container {
        height: 70vh;
        width: 90vw;
    }

    .sign-up-container {
        width: 90vw;
    }

    .gearbox {
        margin-top: 65%;
        margin-left: 18%;
    }

    .NavBarContainer ul.open {
        display: flex;
        flex-direction: column;
        height: 226vh;
        width: 50%;
        font-size: xxx-large;
        background-color: #FFFFFF;
        margin-left: 50%;
        border-left: 2px solid black;
    }

    .Overall-div-of-get-started-page img {
        display: none;
    }

    .ProductivityPandaImageLandingLogo {
        margin-left: -40%;
    }

    .ProductivityPandaImageLandingLogo img {
        width: 140px;
    }

    .HamburgerMenu {
        left: 85%;
    }

    .get-started-btn {
        bottom: 50%;
        right: 48%;
        height: 40px;
        width: 160px;
        font-size: 24px;
    }

    .Join-Now-btn {
        width: 120px;
        height: 30px;
        font-size: large;
    }

    .get-started-btn {
        bottom: 50%;
        right: 54%;
        height: 35px;
        width: 140px;
        font-size: 20px;
    }

    .NavBarContainer ul.open {
        height: 90vh;
        font-size: large;
    }

    .about-newsletter-container {
        width: 300px;
    }

    .social-media-container {
        width: 50%;
    }

    .newsletter_container {
        width: 300px;
    }

    .copyright_container {
        margin-left: 4%;
        width: 90%;
    }

    .Description-p-tag-of-about-me {
        font-size: 10px;
    }
} */