@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    background-color: #FFF67E;
}
.Vertical-bar{
    border: 2px solid black;
    height: 100%;
    position: absolute;
    left: 15%;
    top: 0;
}
hr{
    border: 2px solid black;
    position: absolute;
    width: 85%;
    left: 15%;
    top: 8%;
}
.ProductivityPandaImage img{
    width: 270px;
    height: 270px;
    position: relative;
    top: -33%;
    left: -5%;
}
.ProductivityPandaImage{
    width: 270px;
    height: 270px;
}
.addIcon{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 75%;
}
.homeIcon{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 65%;
}
.homeIcon p,.addIcon p, .trashIcon p,.log-in p, .Go-back-to-home-page p{
    font-size: larger;
}
.homeIcon img{
    margin-left: 2%;
}
.top-most-of-sideNavigation-btn{
    width: 15%;
    height:80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 18%;
}
.top-down-of-sideNavigation-bar{
    width: 15%;
    height:80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 85%;
}
.trashIcon{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 65%;
}
.log-in{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 65%;
}
.Go-back-to-home-page{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 13%;
    height: 100%;
    left: 15.2%;
} 
.Go-back-to-home-page img{
    margin-left: -15%;
}
.nav-bar{
    height:8%;
    border-bottom: 4px solid black;
    width:84.8vw;
    position: absolute;
    left: 15.2%;
    top: 0;
}
.Switch-left, .Bell{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Profile{
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Profile-icon{
    height: 40px;
    width: 40px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #9BCF53;
}
.cover-up-div-of-top-upper-right-icons {
    height: 100%;
    width: 18%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 82%;
    margin-top: -4.2%;
}
